body {
    background-image: url('/static/images/aviso_e_alertas.png');
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Alteração para manter o conteúdo no centro da tela */
}

h1, h2 {
    font-size: 36px; /* Aumenta o tamanho do título */
    margin-bottom: 10px; /* Reduz o espaço entre os títulos */
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;
    padding: 15px 30px; /* Aumenta o espaçamento interno */
    display: inline-block;
    transition: all 0.3s ease;
}

h1:hover, h2:hover {
    background-color: #333333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: #ffffff;     
    font-size: 24px;
    margin-bottom: 30px; /* Aumenta o espaço abaixo do link */
    background-color: rgb(214, 8, 8);
    padding: 20px 40px; /* Aumenta o tamanho do botão */
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #ff0000;
}

#login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%; /* Ajusta a largura da caixa de login */
    max-width: 400px; /* Define uma largura máxima */
    margin-top: 30px; /* Aumenta o espaço acima do formulário */
}

#login-form input {
    width: calc(100% - 40px); /* Ajusta a largura do input */
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 20px;
}

#login-form button {
    width: 100%; /* Ajusta a largura do botão */
    padding: 15px;
    margin: 20px 0;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    transition: all 0.3s ease;
}

#login-form button:hover {
    background-color: #0056b3;
}