@keyframes blink-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    10% { opacity: 1; color: black; }
    50% { opacity: 0; color: rgb(255, 0, 0); }
    100% { opacity: 1; color: black; }
}

h1 {
    animation: blink 1s infinite; /* Definindo a animação */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/fotodabct.png');

    background-position: center;
    margin: 0;
    padding: 0;
}   

header {
    background-color: #333; /* Cor de fundo do cabeçalho */
    padding: 10px 0; /* Espaçamento interno do cabeçalho */
    text-align: center; /* Centraliza o conteúdo do cabeçalho */
}

.like-button {
    display: inline-block; /* Garante que o botão seja exibido inline */
    margin-left: 10px; /* Adiciona um espaçamento à esquerda para separar o botão das outras informações */
}


.menu a {
    color: #fff; /* Cor do texto do link */
    text-decoration: none; /* Remove sublinhado padrão do link */
    padding: 10px 20px; /* Espaçamento interno do link */
    border-radius: 5px; /* Borda arredondada */
    background-color: #007bff; /* Cor de fundo do link */
    transition: background-color 0.3s; /* Transição suave da cor de fundo */
}

.menu a:hover {
    background-color: #0056b3; /* Cor de fundo do link ao passar o mouse */
}
 
  /* CSS para o botão de voltar */
  .back-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #0056b3;
}



.container {
    display: flex;
    justify-content: center; /* Centraliza os contêineres horizontalmente */
    align-items: flex-start; /* Alinha os contêineres verticalmente no topo */
    gap: 20px; /* Espaçamento entre os contêineres */
}

.message-container {
    flex: 1; /* Ocupa todo o espaço disponível dentro do contêiner pai */
    
    padding-right: 10px; /* Adiciona um espaçamento à direita para separar o conteúdo da borda */
}



.container .message-container {
    width: 50%;
}
.message h3 {
    max-width: 100%; /* Largura máxima igual à largura do contêiner */
    overflow-wrap: break-word; /* Permite que o texto quebre em várias linhas */
}
.message p {
    max-width: 100%; /* Largura máxima igual à largura do contêiner */
    overflow-wrap: break-word; /* Permite que o texto quebre em várias linhas */
}


.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffffb0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(250, 0, 0);
}

h1 {
    color: #333;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    
}

h3 {
    color: #007bff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

p {
    color: #28a745;
    font-size: 20px;
    text-align: center;
}

/* Estilos para as mensagens */
.message {
    background-color: #0020af;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(0, 16, 243);
}

.message h3 {
    color: #00fcef;
    font-size: 24px;
    margin-bottom: 10px;
}

.message p {
    color: #ffffff;
    font-size: 18px;
}

/* Estilos para os pop-ups */
.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: none;
    z-index: 9999;
}

.popup {
    margin-bottom: 15px;
}

.popup h3 {
    color: #007bff;
    font-size: 18px;
    margin-bottom: 5px;
}

.popup p {
    font-size: 16px;
    margin: 0;
}

