body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header img {
    
    background-color: #333;
    color: #fff;
    padding: 5px; /* Reduzindo o padding para 10 pixels */
    text-align: center;
    background-size: cover; /* Redimensiona a imagem para cobrir todo o cabeçalho */
    background-repeat: repeat; /* Evita que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
    height: 100px; /* Definindo uma altura para o cabeçalho */
    width: 100%; /* Define a largura do cabeçalho como 100% da largura da tela */
}






.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

li a {
    text-decoration: none;
    margin-right: 10px;
}

li a.edit {
    color: rgba(255, 187, 0, 0.87);
}

li a.delete {
    color: red;
}

li a:hover {
    text-decoration: underline;
}
