<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Aviso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <!-- Espaço para inserir uma imagem -->
        <img src="static\images\fotodopau.png" alt="Logo"> 
    </header>

    <div class="container">
        <h1>Enviar Avisos</h1>
        <form action="/admin" method="post">
          <label for="title">Título:</label>
          <input type="text" id="title" name="title"><br>
          <label for="content">Conteúdo:</label>
          <textarea id="content" name="content"></textarea><br>
          <label for="priority">Situação:</label>
          <select id="priority" name="priority">
              <option value="com problema">Com Problema</option>
              <option value="manutenção">Manutenção</option>
              <option value="resolvido">Resolvido</option>
          </select><br> <!-- Campo de prioridade -->
          <button type="submit">Enviar</button>
      </form>
      

        <!-- Exibir mensagens flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Exibir mensagens existentes -->
        <h2>Mensagens Enviadas</h2>
        <ul>
            {% for message in messages %}
                <li>
                    <strong>{{ message[1] }}</strong>: {{ message[2] }}
                    <a href="/edit_message/{{ message[0] }}" class="edit" onclick="return confirmEdit()">Editar</a> |
                    <a href="/delete_message/{{ message[0] }}" class="delete" onclick="return confirmDelete()">Excluir</a>
                </li>
            {% endfor %}
        </ul>

        <!-- Botão para visualizar mensagens -->
        <a href="/messages" class="view-messages-button">Ver Mensagens</a>
    </div>
</body>
</html>
