<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Aviso</title>
    <link rel="icon" href="static\images\iconedesite1.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <header>
            <!-- Espaço para inserir uma imagem -->
            <img src="static\images\banner.png" alt="Logo">
            <!-- Menu de navegação -->
            <nav id="menu">
                <ul>
                    <li><a href="/">Página Inicial</a></li>
                    <li><a href="/admin">Enviar Avisos</a></li>
                    <li><a href="/messages">Ver Mensagens</a></li>
                </ul>
            </nav>
        </header>
    </header>

    <div class="container">
        <h1>Enviar Avisos</h1>
        <form action="/admin" method="post">
            <label for="title">Título:</label>
            <input type="text" id="title" name="title"><br><br>
            <label for="content">Conteúdo:</label>
            <textarea id="content" name="content"></textarea><br>
            <label for="priority">Situação:</label>
            <select id="priority" name="priority">
                <option value="com problema">Com Problema</option>
                <option value="manutenção">Manutenção</option>
                <option value="resolvido">Resolvido</option>
            </select><br> <!-- Campo de prioridade -->
            <button type="submit">Enviar</button>
        </form>


        <!-- Exibir mensagens flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- Exibir mensagens existentes -->
        <h2>Avisos Enviadas</h2>
        <ul>
            {% for message in messages %}
            <li>
                <strong>{{ message[1] }}</strong>: {{ message[2] }}
                <a href="/edit_message/{{ message[0] }}" class="edit" onclick="return confirmEdit()">Editar</a> |
                <a href="/delete_message/{{ message[0] }}" class="delete" onclick="return confirmDelete()">Excluir</a>
            </li>
            {% endfor %}
        </ul>

        <!-- Exibir mensagens resolvidas -->
        <h2>Avisos Resolvidos</h2>
        <ul>
            {% for message in resolved_messages %}
            <li>
                <strong>{{ message[1] }}</strong>: {{ message[2] }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        // Obtenha o menu de navegação
        var menu = document.getElementById("menu");
        // Obtenha a posição inicial do menu
        var menuPosition = menu.offsetTop;

        // Adicione um evento de rolagem à janela
        window.onscroll = function () {
            // Verifique se a posição da rolagem é maior ou igual à posição inicial do menu
            if (window.pageYOffset >= menuPosition) {
                // Adicione uma classe ao menu para mudar seu posicionamento
                menu.classList.add("sticky");
            } else {
                // Remova a classe se a posição da rolagem for menor que a posição inicial do menu
                menu.classList.remove("sticky");
            }
        };
        // Seleciona o campo de entrada pelo ID
        var titleInput = document.getElementById('title');

        // Adiciona um listener para o evento de entrada de texto
        titleInput.addEventListener('input', function (event) {
            // Converte o texto para maiúsculas
            this.value = this.value.toUpperCase();
        });
    </script>
</body>

</html>