<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avisos Process</title>
    <link rel="icon" href="static\images\iconedesite1.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/login.js') }}"></script> 
   
</head>
<body>
    <h1>Bem-vindo ao <strong >Sistema de Avisos do Process</strong></h1>
    
    <a href="/messages">Ver Avisos</a>

    <div id="login-form">
        <h2>Para enviar Avisos, faça login:</h2>
        <form onsubmit="return validateLogin()">
            <input type="text" id="username" placeholder="Usuário" required><br>
            <input type="password" id="password" placeholder="Senha" required><br>
            <button type="submit">Login</button>
        </form>
    </div>


    <script>
     
    </script>
    
</body>
</html>
