<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Avisos resolvidos</title>
    <link rel="icon" href="static\images\iconedesite1.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/historico.css') }}">
</head>

<body>
    <header>
        <button class="back-button" onclick="window.history.back()">Voltar</button> <!-- Movido o botão de volta aqui -->
    </header>
    <div class="container">
        <div class="message-container">
            <h1>Resolvidos</h1>
            
            <div id="resolved-messages-container">
                <!-- As mensagens resolvidas serão carregadas aqui -->
            </div>
        </div>
        <div class="popup-container" id="popup-container"></div>

        <script>
            // Função para fazer uma requisição AJAX para obter as mensagens resolvidas
            // Função para fazer uma requisição AJAX para obter as mensagens resolvidas
function fetchResolvedMessages() {
    fetch('/get_resolved_messages') // Rota no servidor para obter as mensagens resolvidas
        .then(response => response.json())
        .then(messages => {
            const resolvedMessagesContainer = document.getElementById('resolved-messages-container');
            resolvedMessagesContainer.innerHTML = ''; // Limpa as mensagens resolvidas existentes

            messages.forEach(message => {
                const messageDiv = document.createElement('div');
                messageDiv.classList.add('message');
                messageDiv.innerHTML = `
                    <h3>${message.title}</h3>
                    <p>${message.content}</p>
                    <p>Atualizado: ${message.datetime}</p>  
                `;
                resolvedMessagesContainer.appendChild(messageDiv);
            });
        })
        .catch(error => {
            console.error('Erro ao obter as mensagens resolvidas:', error);
        });
}

            
            
            // Função para obter a data e hora atuais
            function getCurrentDateTime() {
                const now = new Date();
                const formattedDate = now.toLocaleDateString('pt-BR');
                const formattedTime = now.toLocaleTimeString('pt-BR');
                return `${formattedDate} ${formattedTime}`;
            }

            // Atualiza as mensagens resolvidas a cada 5 segundos (5000 milissegundos)
            setInterval(fetchResolvedMessages, 5000);

            // Chamar a função fetchResolvedMessages uma vez quando a página for carregada
            fetchResolvedMessages();

            
        </script>
</body>

</html>
