<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avisos</title>
    <script src="{{ url_for('static', filename='js/messages.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
</head>

<header>
    <!-- Menu -->
    <div class="menu">
        <a href='/message_history'>Ver Histórico de Avisos</a>
    </div>
</header>

<body>
    <div class="container">
        <div class="message-container">
            <h1>Avisos</h1>
            <div id="messages-container">
                <!-- As mensagens serão carregadas aqui -->
                {% for message in messages %}
                <div class="message">
                    <h3>{{ message.title }}</h3>
                    <p>{{ message.content }}</p>
                    <p>Atualizado às: {{ message.datetime }}</p>
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Contêiner para pop-ups -->
    <div class="popup-container" id="popup-container"></div>
</body>

</html>
